* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2),
    -10px -5px 10px rgba(0, 0, 0, 0.2);
}
